@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: clamp(1rem, 2vw + 0.75rem, 1.5rem);
}

@layer utilities {
  .animated-link {
    position: relative;
    line-height: 1;
  }

  .animated-link:after {
    display: block;
    content: "";
    background-color: theme(colors.white);
    height: 1px;
    width: 0;
    left: 0;
    position: absolute;
    transition: width 0.4s;
    transition-timing-function: cubic-bezier(0.91, 0.43, 0.84, 0.89);
  }

  .animated-link:hover:after {
    width: 100%;
  }

  .animated-link:focus {
    outline: none;
  }

  .animated-link:focus:after {
    width: 100%;
  }

  .focus-ring {
    @apply focus:outline-none focus:ring-2 focus:ring-white;
  }
}
